.Melumat-section {
  margin-top: 50px;
  padding: 30px 5px;
  background: #1d2d5d;
  border-radius: 25px;
  text-align: center;
}

.Melumat-logo img {
  width: 150px;
  margin-bottom: 25px;
} 

/* TOP LINKS */
.Melumat-links {
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.Melumat-links button {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
}

.Melumat-links button:hover {
  color: #009736;
}

/* GREEN DIVIDER */
.Melumat-divider {
  width: 85%;
  height: 2px;
 	background: #fff;
 	margin: 20px auto 35px;
} 

/* CONTACT INFO */
.Melumat-contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
  color: #fff;
  font-weight: 550;
} 

.Melumat-phone,
.Melumat-location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
} 

.Melumat-phone img,
.Melumat-location img {
  width: 15px;
  height: 15px;
}

.Melumat-phone-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

/* SOCIAL ICONS */
.Melumat-social {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
  margin-bottom: 10px;
} 

.Melumat-social img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: 0.25s;
}

.Melumat-social img:hover {
  opacity: 0.7;
} 

/* COPYRIGHT */
.Melumat-copy {
  color: #fff;
  font-size: 14px;
  margin-top: 40px;
} 

.Melumat-phone a {
  color: #ffffff;        /* ağ rəng */
  text-decoration: none; /* alt xətt olmasın */
  font-weight: 500;
  transition: 0.3s ease;
}

.Melumat-phone a:hover {
  color: #009703; /* hover rəngi */
}
